A module that is usually used when working with data is `pandas`.

In [10]:
import pandas as pd
import numpy as np


# create some random data
var1 = np.random.randn(100)*5 + 20
var2 = np.random.randn(100)>0

labels = ['Temp. (C)','Ice cream eaten']

# create a dictionary
D = {labels[0]:var1,labels[1]:var2}

In [14]:
# import the dictionary into a pandas dataframe
df = pd.DataFrame(data=D)
df

    Temp. (C)  Ice cream eaten
0   21.801027             True
1   21.247210             True
2   22.077734            False
3   25.124078             True
4   23.444302            False
..        ...              ...
95  23.695272             True
96  21.864380             True
97  20.652177             True
98  18.680852            False
99  13.276924            False

[100 rows x 2 columns]

In [16]:
df.head(12)

    Temp. (C)  Ice cream eaten
0   21.801027             True
1   21.247210             True
2   22.077734            False
3   25.124078             True
4   23.444302            False
5   24.389825            False
6   29.386832            False
7   13.299114             True
8   18.344100             True
9   20.251801             True
10  29.498936             True
11  27.619263            False

In [18]:
df.count()

Temp. (C)          100
Ice cream eaten    100
dtype: int64

In [20]:
df.mean()

Temp. (C)          20.177697
Ice cream eaten     0.550000
dtype: float64

In [38]:
# Exercise
# create a pandas dataframe with three variables 
# 1) integers from 0 to 10
# 2) their square
# 3) their log
numbers = np.array(list(range(0,11)))
log_num = np.log(numbers)
square_num = numbers**2

numDict = {'numbers':numbers,'their square':square_num,'their log':log_num}

df2 = pd.DataFrame(data=numDict)
df2.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log
  import sys

   numbers  their square  their log
0        0             0       -inf
1        1             1   0.000000
2        2             4   0.693147
3        3             9   1.098612
4        4            16   1.386294
5        5            25   1.609438
6        6            36   1.791759
7        7            49   1.945910
8        8            64   2.079442
9        9            81   2.197225